*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container
{
  max-width: 1600px;
  overflow: hidden;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
}

/***********************HEADER************************/
header
{
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color:#005289;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  text-decoration: none;
  height:50px;
}

header h1
{
  color:yellow;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px grey;
  padding-top:5px;
}


header h1 a
{
    color:yellow;
    text-decoration:none ;
}
    
#text-secondary
{
  color:red;
}


/***********************MAIN************************/
main
{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  height:87vh;
  background-image: url('../img/lottery-balls.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

/***********************BID CONTAINER************************/
#bid-container
{
  background-color: lightgrey;
  width:150px;
  height:420px;
  text-align: center;
  margin: 20px 50px;
  border-radius: 12px;
  justify-self: right;
  padding-bottom: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#dollar-values button
{
  display:grid;
  grid-template-columns: 1fr;
  justify-self: center;
  background-color: #005289;
  color:yellow;
  width:70px;
  border-radius: 60%;
  border:solid;
  border-color: white;
  padding: 20px 10px 20px 10px;
  margin: 25px 0 0 35px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#dollar-values button:hover
{
    background-color:yellow;
    color: #005289;
}

/***********************SELECT CONTAINER************************/
#select-container
{
  background-color: lightgrey;
  width:450px;
  height:420px;
  text-align: center;
  margin: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#number-buttons
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 80px;
  
}

button 
{
  background-color: #005289;
  border-style:solid ;
  border-color: white;
  color: yellow;
  font-weight: 600;
  width: 60px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  margin: 10px 5px 0 0;
}

button:hover {
  background-color:yellow;
  color: #005289;
}

.btn
{
  background-color: yellow;
  border: none;
  color: #005289;
  font-weight: 800;
  padding: 10px 25px;
  width:auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  cursor: pointer;
  margin: 25px 10px 0 0;
}

.btn:hover {
  background-color:#005289;
  color: yellow;
}

.btn:active {
  background-color: #005289;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/***********************SELECTED CONTAINER************************/

#selected-container
{
  background-color:lightgrey;
  width:250px;
  height:420px;
  justify-items: center;
  text-align: left;
  padding: 15px 0 0 15px;
  margin: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  justify-self: left;
}

#bill-area > p 
{
  padding: 20px 0 10px 0;
}

#bill-area > h4
{
  padding-top: 80px;
}

/***********************FOOTER************************/

#footer
{
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: #005289;
  color:yellow;
  height:50px;
  padding-top: 15px;
}
